<ion-header>

  <ion-navbar>
    <ion-title>Dialogs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>This plugin gives you ability to access and customize the device native dialogs.</h3>
  <p>Select Cordova plugin or Ionic 3 features bellow.</p>

  <!-- Display buttons for Cordova features -->

  <section class="cordova" *ngIf="isCordovaDisplayed">
    <h4>Cordova plugin selected</h4>
    <button ion-button block color="secondary"
            (click)="alertCordova()">Alert</button>
    <button ion-button block color="secondary"
            (click)="confirmCordova()">Confirm</button>
    <button ion-button block color="secondary"
            (click)="promptCordova()">Prompt</button>
    <button ion-button block color="secondary"
            (click)="beepCordova()">Beep</button>
  </section>

  <!-- Display buttons for Ionic 3 features -->

  <section class="ionic" *ngIf="isIonicDisplayed">
    <h4>Ionic 3 Alert Component selected</h4>
    <button ion-button block color="secondary"
            (click)="alertIonic()">Alert</button>
    <button ion-button block color="secondary"
            (click)="confirmIonic()">Confirm</button>
    <button ion-button block color="secondary"
            (click)="promptIonic()">Prompt</button>
  </section>

</ion-content>

<ion-footer>
  <platform-choice [cordovaPlugin]="plugin"
                   [iconName]="iconName"
                   (selected)="setChoice($event)"></platform-choice>
</ion-footer>
